
.flex-col{
    flex-direction: column;    
}
.bg-black{
    background-color: black;
}
.mg-btm{
    margin-bottom: 12px;
    /* border-radius: 15px; */
}
.bg-org{
    background-color: orangered;
    border-radius: 50px;
}
.row button{
    padding: 7px 10px;
    margin: 10px 3px;
    border-radius: 10px;
}